
<div class="m-3">
    <h1>Error</h1>
    <p>An unexpected error has been encountered and the request can not be processed.</p>
    <p><a asp-controller="Home" asp-action="Index">Click here to return home.</a></p>
</div>