@using Bookstore.Utilities
@{
    ViewData["Title"] = "Update User";
    User user = (ViewData["User"] as User)!;
    string? message = ViewData.ContainsKey("Message") ? ViewData["Message"] as string : null;
}

<div class="m-3">
    <h1>Update User Account</h1>
    <form class="d-block w-50" method="POST">
        <input name="id" type="hidden" value="@user.Id" class="form-control">
        <div class="form-group">
            <label for="username">Email or Username</label>
            <input name="username" type="text" id="username" value="@user.Username" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" id="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input name="confirm-password" type="password" id="confirm-password" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" name="Add User" class="form-control btn btn-success w-50" value="Update">
        </div>
    </form>
</div>
