@{
    ViewData["Title"] = "Admin Home";
}

<div class="m-3">
    <div class="mb-2">
        <h1>Statistics</h1>
        <table class="w-50">
            <tbody>
            <tr>
                <th>Number of users</th>
                <td>XXX</td>
            </tr>
            <tr>
                <th>Total Number of Bookmarks</th>
                <td>XXX</td>
            </tr>
            <tr>
                <th>Number of Archived Bookmarks</th>
                <td>XXX</td>
            </tr>
            <tr>
                <th>Archived Website Disk Usage / Total Space</th>
                <td>XXXMb / XXXMb</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div>
        <h1>Users</h1>
        <table class="table table-sm">
            <thead>
            <tr>
                <th>Actions</th>
                <th>Email</th>
                <th>Number of Bookmarks</th>
                <th>Number of Archived Bookmarks</th>
                <th>Archived Bookmark Disk Usage</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="#">Delete</a>
                    <a href="#">Edit</a>
                </td>
                <td> XXX@XXX </td>
                <td> X </td>
                <td> X </td>
                <td> XMb </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
