@{
    string prefillUrl = (ViewData["Url"] as string)!;
    Settings settings = (ViewData["Settings"] as Settings)!;
    string archiveByDefaultChecked = settings.ArchiveByDefault ? "checked" : "";
}

<div class="m-3">
    <h1>Add New Bookmark</h1>
    <form asp-action="Save">
        <div class="form-group form-inline">
            <label class="mr-3">URL</label>
            <input class="form-control" type="text" name="url" size="50" placeholder="https://..." autofocus value="@prefillUrl")>
        </div>
        <div class="form-group">
            <input class="" id="archive-bookmark" name="archive-bookmark" value="true" type="checkbox" @archiveByDefaultChecked>
            <label for="archive-bookmark" style="cursor: pointer;">Archive Bookmark</label>
        </div>
        <div class="form-group">
        <input class="btn btn-primary" type="submit" asp-action="Save" asp-route-editRedirect="true" formmethod="post" value="Load and Edit">
        <input class="btn btn-primary" type="submit" asp-action="Save" formmethod="post" value="Save">
        </div>
    </form>
</div>